@model Cari.WebUI.Models.LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <div id="login">
        <h3 class="text-center text-white pt-5">Login form</h3>
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" action="/Login/Index" method="post">
                            <h3 class="text-center text-info">Login</h3>
                            <div class="form-group">
                                <label for="username" class="text-info">Kullanıcı:</label><br>
                                <input type="text" name="username" id="username" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="password" class="text-info">Şifre:</label><br>
                                <input type="text" name="password" id="password" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="submit" name="submit" class="btn btn-info btn-md" script="float:right" value="Giriş">
                            </div>

                            @if (TempData["Error"] != null && (string)(TempData["Error"]) == "Error")
                            {
                                <div class="alert alert-danger" role="alert"><strong>Kullanıcı adı veya şifre yanlış!</strong> Uyarı !</div>
                            }
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

